body {

}
.container {
  margin: 20px auto;
  width: 80%;
  /*padding: 0px 20px 20px 20px;*/
  border: 1px dotted black;
  text-align: center;
}

.container h1 {
  text-align: center;
}

.container form{

}

.container input {
  display: block;
  padding: .5em;
  margin: 1em auto;
}

.container p {
  text-align: center;
}


th {
  text-align: left;
}
